

.find-user-div-form{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}



/* spinner styles */
.loading-div{
    display: none;
}
.loading-div.active{
    display: block;
}