

.home-div{
    padding: 0 10px 35px 10px;
}
.home-div h2{
    /* margin-top: 20px; */
    font-size: 20px;
    color: #0F2946;
    font-weight: 500;
    text-align: center;
}

.form-div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.form-div form div{
    width: 80%;
}
/* name entering area */
.name-input-div{
    display: flex;
    flex-direction: column;
}
.name-input-div label{
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0;
}
.name-input-div input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    outline: none;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
}
.name-input-div input:focus{
    border: 3px solid #007ACC;
}


/* -----------------------------
Sector selections 
---------------------------------*/
.sector-selection{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.sector-selection label{
    font-size: 22px ;
    font-weight: 600;
}
.sector-selection select{
    width: 100%;
    /* padding: 10px 15px; */
    border: 3px solid #ddd;
    border-radius: 10px;
    outline: none;
}
.sector-selection select option{
    height: 50px;
}

.form-check{
    margin-top: 25px;
}

.strong{
    pointer-events: none;
    color: black;
    font-weight: 700;
}

/* styling save button */
.form-div button{
    width: 80%;
    border: none;
    box-sizing: border-box;
    background: #007ACC;
    color: white;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}