

.header-div{
    padding: 30px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.header-div a{
    text-decoration: none;
    font-size: 18px;
    background: #0A2442;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.header-div a:hover{
    color: black;
    background: #FFBA00;
}