

.user-details-div{
    /* min-width: 80%; */
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-details-div p{
    margin-bottom: 0;
}

.strong-text1{
    color: #007ACC;
    font-weight: 600;
    font-size: 18px;
}

/* Edit button */
.edit-button{
    background: #00AF80;  
    width: auto;  
    padding: 5px 15px;
    transition: all 0.2s ease;
}
.edit-button:hover{
    background: darkred;
}